<!DOCTYPE html>
<!--author: XeanYu -->
<!-- 密码找回页面 -->
<html>

<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>密码找回</title>

  <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='style/getpass.css') }}">
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>

</head>

<body>
  <div class="container">
      <div class="row">
      <div class="col-lg-10 col-lg-push-1 getpass">

    <!--输入栏盒子-->
        <div class="box">

        <div class='box_title'>
            <h3 class="text-center page-header">密码找回</h3>
        </div>
            <!--input user's username-->
            <div class="user col-lg-8 col-lg-push-2">
            <form method="post" id="form" action="{{ url_for('main.getpass') }}">

            <p class="input-title">用户名</p>
            <div class="input-group input">
                <span class="input-group-addon"><span class="glyphicon glyphicon glyphicon-search"></span></span>
                <input type="text" name="user" id="username_input" class="form-control" placeholder="请输入您的用户名" required="required"/>
            </div>

            <p class="input-title">私密代码</p>
            <div class="input-group input find">
                <span class="input-group-addon"><span class="glyphicon glyphicon-console"></span></span>
                <input type="text" name="code" id="username_input" class="form-control" placeholder="请输入您私密代码" required="required"/>
            </div>

            <p class="input-title">新密码</p>
            <div class="input-group input find">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="text" name="newpass" id="username_input" class="form-control" placeholder="新密码" required="required"/>
            </div>

                <div class="alert alert-danger" id="alert-box">
                    <span class="info glyphicon glyphicon-info-sign" id="info"></span>
                    <span class="off glyphicon glyphicon-remove-circle" id="off"></span>
                </div>

            <div class="input-group input find submit">
                <button class="btn btn-danger">立即修改</button>
            </div>

            </form>
            </div>
        </div>
    </div>

    </div>
  </div>
<script type="text/javascript" src="{{ url_for('static',filename='exts_js/getpass.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/canvas-nest.js') }}"></script>
</body>
</html>
