<style>
    .of {margin-top: 20px;}

</style>
<!-- Sweetalert CSS file -->
<div class="mdui-container doc-container">
    <div class="of">
        <h1 class="doc-title mdui-text-color-theme">留言管理</h1>
    </div>
    <div>
        <!-- 平台配置 -->
        <div class="mdui-divider"></div>
        <h3><kbd><strong>留言</strong></kbd></h3>

        <form action="{{ url_for('main.say') }}" method="post" id="say">

            <!-- 留言标题 -->
            <div class="mdui-textfield">
              <i class="mdui-icon material-icons">title</i>
              <label class="mdui-textfield-label">留言标题</label>
              <input class="mdui-textfield-input" type="text" name="title" required="required" placeholder="标题"/>
            </div>

            <!-- 留言内容 -->
            <div class="mdui-textfield">
                <i class="mdui-icon material-icons">message</i>
              <textarea class="mdui-textfield-input" rows="4" placeholder="Message" name="text" required="required"></textarea>
            </div>
            <div class="mdui-divider"></div>
            <br>

            <div class="mdui-float-right">
                <button class="mdui-fab mdui-color-theme-accent mdui-ripple"><i class="mdui-icon material-icons">create</i></button>
            </div>
        </form>
    </div>

    <div>
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h1 class="panel-title"><strong>曾经的留言</strong></h1>
          </div>


          <div class="panel-body row" id="body">
          {% for say in saids %}
              <div class="col-lg-5 col-lg-push-1" id="{{ say.id }}">
                <div class="panel panel-info">
                    <!-- 标题 -->
                    <div class="panel-heading">
                          <h3 class="panel-title">
                              <strong class="text-left">{{ say.title }}</strong>
                              {% if say.is_look %}
                                <span class="label label-success">已被浏览</span>
                              {% else %}
                                <span class="label label-danger">未被浏览</span>
                              {% endif %}
                          </h3>
                    </div>
                      <!-- 身体 -->

                      <div class="panel-body">
                        <strong class="text-success">{{ say.text }}</strong>
                        {% if not say.is_look %}
                          <span class="label label-info text-right">发布于 {{ say.say_date }}</span>
                        {% else %}
                          <span class="label label-primary text-right">被查看于 {{ say.look_date }}</span>
                          {% endif %}
                        <button type="button" class="submit btn btn-danger" style="float: right" id="{{ say.id }}"><strong>删除</strong></button>
                      </div>
                </div>
              </div>
          {% endfor %}
          </div>

        </div>
    </div>



<script src="{{ url_for('static',filename='exts_js/say.js') }}" type="text/javascript"></script>
</div>